# Obtaining data #

In [57]:
import pandas as pd

In [58]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"

df = pd.read_html(url)

df = df[0]

df.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [59]:
df.shape

(180, 3)

# Cleaning #

In [67]:
# Droping 'Not assigned' Borough
df = df[(df['Borough']) != 'Not assigned']

In [65]:
# Transforming 'Not assigned' Neighborhood

df.loc[df['Neighborhood'] == 'Not assigned', ['Neighborhood']] = df['Borough']

# Grouping by Postal Code and Borough
df = df.groupby(['Postal Code','Borough'])['Neighborhood'].apply(', '.join).reset_index()

df.head()

  Postal Code      Borough                            Neighborhood
0         M1B  Scarborough                          Malvern, Rouge
1         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

In [66]:
df.shape

(103, 3)